* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

@font-face {
  font-family: Frutiger;
  src: url(../fonts/Ftb.ttf);
	font-weight: bold;
}

.padding {
    padding: 0;
}

.margin {
    margin: 0;
}

.heigth {
    height: 800px;
}

.verticalcenter {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

#centerForm {
    width: 90%;
    margin: 0 auto;
}

#ImageHeartbeat {
    width: 100%;
    height: 800px;
    background-size: cover;
}

.form-label {
    margin-top: 10px;
}

.button {
    margin: 20px 0 0 0;
    height: 50px;
    width: 100%;
    border: 2px solid #CC4A28;
    border-radius: 5px;
    background: white;
    font-family: Frutiger;
    font-size: 20px;
}

.button:hover {
    background: #CC4A28;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}