@font-face {
  font-family: Frutiger;
  src: url(../fonts/Ftr.ttf);
}
@font-face {
  font-family: Frutiger;
  src: url(../fonts/Ftb.ttf);
	font-weight: bold;
}
@font-face {
  font-family: Frutiger;
  src: url(../fonts/Ftl.ttf);
  font-weight: lighter;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none !important;
}


.container-fluid {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.navbar-nav li a {
  padding-left: 40px;
  font-size: 17px;
  font-family: Frutiger;
  font-weight: lighter;
}

 img {
   background-size: cover;
 }

.holder {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 999;
}

.holder h1 {
  margin-top: 100px;
  font-size: 120px;
  font-weight: bold;
}

.holder p {
  font-size: 40px;
}
