* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
}


/* fonts inladen */

@font-face {
    font-family: 'GidoleRegular';
    src: url(fonts/Gidole-Regular.ttf)
}

@font-face {
    font-family: 'fruitR';
    src: url(fonts/Ftr_____.ttf)
}

.heigth {
    height: 800px;
}

#ImageBicycle {
    margin-top: 25px;
    width: 100%;
    height: 700px;
}

#ImageHeartbeat {
    width: 100%;
    height: 800px;
    background-size: cover;
}

.margintop {
/*    margin-top: 35px;*/
}

.padding {
    padding: 0;
}

.HeadingText {
    height: 37px;
    font-family: 'GidoleRegular';
    font-size: 33px;
    color: #cc4a28;
    margin: 0px 2% 0 2%;
}

.Text {
    font-family: 'fruitR';
    font-size: 14px;
    line-height: 20px;
    margin: 20px 2%;
}

.float {
    float: left;
}

.verticalcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
