* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
    font-family:font1;
    src: url(../fonts/Ftr_____.ttf);
}

@font-face {
    font-family:font2;
    src: url(../fonts/Gidole-Regular.ttf);
}

/* container 1 */

.container-left {
  background-color: #3a3a3a;
  width: 50%;
  height: 100vh;
  float: left;
}

#mobile {
  position: relative;
  width: 96%;
  margin: 2%;
  height: 96%;
  background: url(../img/mobile-phone.png) no-repeat top center;
  background-size: 100% auto;
}

#mobile-content {
   position: absolute;
   left: 50%;
   top: 8vw;
   margin-left: -25%;
   width: 50%;
   height: 28vw;
   background: #cc4a28; /* For browsers that do not support gradients */
   /*background: -webkit-linear-gradient(left top, #ed1e24, #7ac043); /* For Safari 5.1 to 6.0 */
   /*background: -o-linear-gradient(bottom right, #ed1e24,  #7ac043); /* For Opera 11.1 to 12.0 */
   /*background: -moz-linear-gradient(bottom right, #ed1e24, #7ac043); /* For Firefox 3.6 to 15 */
   /*background: linear-gradient(to bottom right, #ed1e24, #7ac043); /* Standard syntax */
   color: #FFFFFF;
   font-weight: bold;
}

#mobile-content h1 {
  float: left;
  margin-top: 5px;
  margin-left: 17.5%;
  font-size: 1.9vw;
  font-family: font2;
  color: white;
}

#mobile-header {
  overflow: auto;
}

#hamburger-menu {
  position: absolute;
  left: 50%;
  top: 8vw;
  margin-left: -25%;
  width: 50%;
  height: 28vw;
  background: #7ac043; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #7ac043, #ed1e24); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #7ac043, #ed1e24); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #7ac043, #ed1e24); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #7ac043, #ed1e24); /* Standard syntax */
  color: #FFFFFF;
  font-weight: bold;
}

#hamburger-menu h1 {
  float: left;
  margin-top: 5px;
  margin-left: 17.5%;
  font-size: 1.9vw;
  font-family: font2;
  color: white;
}

.hamburger-icon {
  width: 2.1vw;
  height: 2.1vw;
  float: left;
  background: url(../img/hamburger-icon_white.png) no-repeat top center;
  margin: 1%;
  cursor: pointer;
}

.hamburger-icon-return {
  width: 2.1vw;
  height: 2.1vw;
  float: left;
  background: url(../img/hamburger-icon.png) no-repeat top center;
  margin: 1%;
  cursor: pointer;
}

.apps {
  width: 48%;
  height: 8vw;
/*  background-color: rgba(122,192,67, 0.5);*/
  float: left;
  margin: 1%;
  cursor: pointer;
}

#overlay {
  width: 48%;
  height: 8vw;
  z-index: 999;
  position: absolute;
}

#mapfullscreen {
  margin-left: 1%;
}

#closefullscreen {
 cursor: pointer;
}

#heart {
  height: 16.5vh;
}

.button {
  width: 60%;
  height: 2.5vw;
  background-color: #cc4a28;
  box-shadow: 2.5px 2.5px 2.5px #7ac043;
  margin-top: 2vw;
  margin-left: 20%;
  cursor: pointer;
}

.button p {
  text-align: center;
  line-height: 2.5;
  font-family: font2;
  font-size: 1vw;
}

.container-top-right {
  background-color: blue;
  width: 50%;
  height: 49vh;
  float: left;
}

#screen {
  position: relative;
  width: 96%;
  margin: 2%;
  height: 96%;
  background: url(../img/schermpje.png) no-repeat top center;
  background-size: 100% auto;
}

#screen-content {
  position: absolute;
  left: 5.1%;
  top: 7.9vw;
  width: 90.7%;
  height: 8.4vw;
  background: #7ac043;
  background: -webkit-linear-gradient(left top, #ed1e24, #7ac043);
  background: -o-linear-gradient(bottom right, #ed1e24, #7ac043);
  background: -moz-linear-gradient(bottom right, #ed1e24, #7ac043);
  background: linear-gradient(to bottom right, #ed1e24, #7ac043);
  color: #FFFFFF;
  font-weight: bold;
}

.container-bottom-right {
  width: 50%;
  height: 50vh;
  float: left;
}

#open, #close {
  width: 100px;
  position: absolute;
  top: 50vh;
  left: 51%;
}

.song {
    width: 100%;
}

.regel {
    width: 100%;
}

audio, canvas, video {
    display: inline-block;
    width: 100%;
/*    height: 20px;*/
}

.heartbeat {
    /* background: url('../img/heart.jpg'); */
    background-size: cover;
    width: 100%;
    text-align: center;
    line-height: 150px;
}

.screen-apps {
  width: 23%;
  height:  7.5vw;
  background-color: rgba(122,192,67, 0.5);
  float: left;
  margin: 1%;
}

#weather-screen {
  font-size: 3vw;
}

#weather-screen i {
  font-size: 4.5vw;
}

.song-playing {
  font-size: 1.5vw;
}

.screen-apps h3 {
  font-size: 1.4vw;
}
